{"openapi":"3.0.3","info":{"title":"FazerCards Public API","version":"0.1.0","description":"HTTPS JSON endpoints under **`/api/v2`** using your reseller API key. Send the key as **`X-API-Key: fc_…`** or **`Authorization: Bearer fc_…`** unless an operation explicitly says otherwise. Most responses wrap data in `{ ok, … }`. Website signup / partner-account routes are not listed here."},"servers":[{"url":"https://api.fzr.cards","description":"API server"}],"tags":[{"name":"Account","description":"Account and balance"},{"name":"Orders","description":"Your orders"},{"name":"Subscription","description":"Plans, prices, plan changes, auto-renewal"},{"name":"Payment","description":"Balance top-up"},{"name":"Steam Top-up","description":"Steam wallet top-up"},{"name":"Telegram","description":"Telegram Stars and Premium quotes"},{"name":"Game keys","description":"Game key categories catalog"},{"name":"Gift cards","description":"Gift card catalog"},{"name":"Top-up","description":"Top-up categories catalog"},{"name":"Manual services","description":"Manual fulfillment categories and offers"}],"paths":{"/api/v2/funpay/login":{"post":{"tags":["FunPay panel"],"description":"Вход в FunPay-панель. Доступен только пользователям с активной основной подпиской И активным аддоном «funpay_integration». Возвращает API-ключ для дальнейших запросов.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","minLength":1,"maxLength":320},"password":{"type":"string","minLength":1,"maxLength":200}}}}}},"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"user":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"login":{"type":"string"},"plan":{"type":"string"},"planExpiresAt":{"type":"string","format":"date-time"},"addonActiveUntil":{"type":"string","format":"date-time"}},"required":["id","email","login","plan","planExpiresAt","addonActiveUntil"]},"apiKey":{"type":"string"}},"required":["ok","user","apiKey"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string"}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string"}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string"}},"required":["ok","error"]}}}}}}},"/api/v2/me":{"get":{"tags":["Account"],"description":"Profile for the account linked to this API key. Authenticate with header `X-API-Key` or `Authorization: Bearer`.","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"login":{"type":"string"},"email":{"type":"string"},"plan":{"type":"string"},"planExpiresAt":{"type":"string"},"planAutoRenew":{"type":"boolean"},"subscriptionActive":{"type":"boolean"},"summary":{"type":"object","description":"Lifetime totals for this account.","properties":{"totalSpent":{"type":"string","description":"Total amount spent (decimal string, account currency)."},"totalOrders":{"type":"integer","description":"Total completed orders count."}},"required":["totalSpent","totalOrders"]},"createdAt":{"type":"string"},"lastActiveAt":{"type":["null","string"]}},"required":["ok","login","email","plan","planExpiresAt","planAutoRenew","subscriptionActive","summary","createdAt","lastActiveAt"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}}}}},"/api/v2/balance":{"get":{"tags":["Account"],"description":"Balance in USD (4 decimal places).","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"balance":{"type":"string"},"currency":{"type":"string","enum":["USD"]}},"required":["ok","balance","currency"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}}}}},"/api/v2/transactions":{"get":{"tags":["Account"],"description":"Paginated balance transaction history. Use `page` and `limit` query parameters.","parameters":[{"schema":{"type":"integer","minimum":1,"default":1},"in":"query","name":"page","required":false,"description":"Page number (1-based)."},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"in":"query","name":"limit","required":false,"description":"Page size (50 by default, max 100 per request)."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^tx[0-9]+$","description":"Transaction id."},"type":{"type":"string","enum":["credit","debit"]},"status":{"type":"string","enum":["completed","processing","cancelled"]},"amount":{"type":"string"},"balanceBefore":{"type":"string"},"balanceAfter":{"type":"string"},"note":{"type":["null","string"]},"createdAt":{"type":"string"}}}},"total":{"type":"integer","description":"Total number of items matching the query (all pages)."},"page":{"type":"integer","description":"Current page number (same as the `page` query parameter)."},"limit":{"type":"integer","description":"Page size (same as the `limit` query parameter)."}},"required":["ok","items","total","page","limit"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}}}}},"/api/v2/transactions/{transactionId}":{"get":{"tags":["Account"],"description":"Get one transaction by id. Only your own transactions are returned.","parameters":[{"schema":{"type":"string","pattern":"^tx[0-9]+$"},"in":"path","name":"transactionId","required":true,"description":"Transaction id from the list endpoint (`id` field)."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"transaction":{"type":"object","properties":{"id":{"type":"string","pattern":"^tx[0-9]+$","description":"Transaction id."},"type":{"type":"string","enum":["credit","debit"]},"status":{"type":"string","enum":["completed","processing","cancelled"]},"amount":{"type":"string"},"balanceBefore":{"type":"string"},"balanceAfter":{"type":"string"},"note":{"type":["null","string"]},"createdAt":{"type":"string"}}}},"required":["ok","transaction"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/account/webhook":{"get":{"tags":["Account"],"description":"Получить текущую конфигурацию вебхука аккаунта (URL, секрет, метрики).","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"webhook":{"type":"object","properties":{"url":{"type":"string"},"secret":{"type":"string"},"enabled":{"type":"boolean"},"consecutive_failures":{"type":"integer"},"last_success_at":{"type":["null","string"]},"last_failure_at":{"type":["null","string"]},"last_failure_reason":{"type":["null","string"]},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["url","secret","enabled","consecutive_failures","last_success_at","last_failure_at","last_failure_reason","created_at","updated_at"],"nullable":true}},"required":["ok"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}},"put":{"tags":["Account"],"description":"Установить/обновить URL вебхука. При первом создании генерируется секрет.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","maxLength":2048},"enabled":{"type":"boolean"}},"required":["url"]}}}},"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]}},"required":["ok"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}},"delete":{"tags":["Account"],"description":"Удалить конфигурацию вебхука. Доставки прекращаются.","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]}},"required":["ok"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/account/webhook/secret/regenerate":{"post":{"tags":["Account"],"description":"Ротация HMAC-секрета. Старый секрет сразу перестаёт работать.","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"secret":{"type":"string"}},"required":["ok","secret"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/account/webhook/test":{"post":{"tags":["Account"],"description":"Отправить тестовое событие `webhook.test` один раз (без retry).","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"status":{"type":["null","integer"]},"error":{"type":["null","string"]}},"required":["ok"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/account/webhook/deliveries":{"get":{"tags":["Account"],"description":"Последние 50 доставок вебхука (для диагностики).","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"deliveries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"event":{"type":"string"},"event_id":{"type":"string"},"attempt":{"type":"integer"},"status":{"type":"string"},"response_status":{"type":["null","integer"]},"duration_ms":{"type":["null","integer"]},"created_at":{"type":"string"},"next_retry_at":{"type":["null","string"]}}}}},"required":["ok","deliveries"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/orders":{"get":{"tags":["Orders"],"description":"List orders.","parameters":[{"schema":{"type":"integer","minimum":1,"default":1},"in":"query","name":"page","required":false,"description":"Page number (1-based)."},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"in":"query","name":"limit","required":false,"description":"Page size (50 by default, max 100 per request)."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","additionalProperties":true}},"total":{"type":"integer","description":"Total number of items matching the query (all pages)."},"page":{"type":"integer","description":"Current page number (same as the `page` query parameter)."},"limit":{"type":"integer","description":"Page size (same as the `limit` query parameter)."}},"required":["ok","items","total","page","limit"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}}}}},"/api/v2/orders/{orderId}":{"get":{"tags":["Orders"],"description":"Get order by public id.","parameters":[{"schema":{"type":"string","pattern":"^ord-[0-9]+$"},"in":"path","name":"orderId","required":true,"description":"Public order id, e.g. ord-1"}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"order":{"type":"object","additionalProperties":true}},"required":["ok","order"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/subscription":{"get":{"tags":["Subscription"],"description":"Current subscription: plan, expiry, auto-renewal flag, and whether the period is still active.","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"plan":{"type":"string"},"planExpiresAt":{"type":"string"},"planAutoRenew":{"type":"boolean"},"subscriptionActive":{"type":"boolean"},"currency":{"type":"string","enum":["USD"]}},"required":["ok","plan","planExpiresAt","planAutoRenew","subscriptionActive","currency"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}}}}},"/api/v2/subscription/plans":{"get":{"tags":["Subscription"],"description":"List paid plans (bronze, silver, gold) with USD prices per 30-day period.","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"currency":{"type":"string","enum":["USD"]},"plans":{"type":"array","items":{"type":"object","properties":{"plan":{"type":"string","enum":["bronze","silver","gold"]},"priceUsd":{"type":"string","description":"Price per 30-day period, 4 decimals"}},"required":["plan","priceUsd"]}}},"required":["ok","currency","plans"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}}}}},"/api/v2/subscription/activation-quote":{"get":{"tags":["Subscription"],"description":"Quote for `POST /subscription/activate-from-balance`: list price, amount to charge (first purchase applies signup + optional partner promo; renewals — full price). Subscription must be inactive.","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":64},"in":"query","name":"plan","required":true,"description":"bronze, silver, or gold (case-insensitive)"},{"schema":{"type":"string","maxLength":64},"in":"query","name":"promo_code","required":false}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"plan":{"type":"string","enum":["bronze","silver","gold"]},"listPriceUsd":{"type":"string"},"chargedAmountUsd":{"type":"string"},"firstPurchase":{"type":"boolean"},"currency":{"type":"string","enum":["USD"]}},"required":["ok","plan","listPriceUsd","chargedAmountUsd","firstPurchase","currency"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string"},"availablePlans":{"type":"array","description":"Allowed plan codes (bronze, silver, gold).","items":{"type":"string","enum":["bronze","silver","gold"]}},"balanceUsd":{"type":"string","description":"Current balance when upgrade fails for insufficient funds."},"requiredUsd":{"type":"string","description":"Amount needed for the upgrade."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}}}}},"/api/v2/subscription/activate-from-balance":{"post":{"tags":["Subscription"],"description":"Debit USD balance and start a 30-day paid period. Top up via `POST /payments/create` first. Partner `promo_code` only applies to the first paid activation; invalid promo or promo on renewal returns 400.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["plan"],"properties":{"plan":{"type":"string","minLength":1,"maxLength":64,"description":"Paid plan to activate for 30 days (bronze, silver, or gold)."},"promo_code":{"type":"string","maxLength":64,"description":"Optional partner promo — only on the first paid activation (`firstPurchase` on quote). Not allowed for renewal."}}}}}},"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"plan":{"type":"string"},"planExpiresAt":{"type":"string"},"planAutoRenew":{"type":"boolean"},"subscriptionActive":{"type":"boolean"},"currency":{"type":"string","enum":["USD"]}},"required":["ok","plan","planExpiresAt","planAutoRenew","subscriptionActive","currency"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string"},"availablePlans":{"type":"array","description":"Allowed plan codes (bronze, silver, gold).","items":{"type":"string","enum":["bronze","silver","gold"]}},"balanceUsd":{"type":"string","description":"Current balance when upgrade fails for insufficient funds."},"requiredUsd":{"type":"string","description":"Amount needed for the upgrade."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"500":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/subscription/auto-renew":{"patch":{"tags":["Subscription"],"description":"Turn subscription auto-renewal on or off.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["planAutoRenew"],"properties":{"planAutoRenew":{"type":"boolean","description":"Enable or disable subscription auto-renewal"}}}}}},"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"plan":{"type":"string"},"planExpiresAt":{"type":"string"},"planAutoRenew":{"type":"boolean"},"subscriptionActive":{"type":"boolean"},"currency":{"type":"string","enum":["USD"]}},"required":["ok","plan","planExpiresAt","planAutoRenew","subscriptionActive","currency"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}}}}},"/api/v2/subscription/plan":{"patch":{"tags":["Subscription"],"description":"Change plan (bronze / silver / gold). Active subscription: downgrade applies immediately without charging; upgrade charges the new plan price in USD and starts a new 30-day period. Expired subscription: change plan without charge (billing on renewal / top-up).","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["plan"],"properties":{"plan":{"type":"string","minLength":1,"maxLength":64,"description":"Must be one of: bronze, silver, gold (case-insensitive). Invalid names return 400 with `availablePlans`."}}}}}},"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"plan":{"type":"string"},"planExpiresAt":{"type":"string"},"planAutoRenew":{"type":"boolean"},"subscriptionActive":{"type":"boolean"},"currency":{"type":"string","enum":["USD"]}},"required":["ok","plan","planExpiresAt","planAutoRenew","subscriptionActive","currency"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string"},"availablePlans":{"type":"array","description":"Allowed plan codes (bronze, silver, gold).","items":{"type":"string","enum":["bronze","silver","gold"]}},"balanceUsd":{"type":"string","description":"Current balance when upgrade fails for insufficient funds."},"requiredUsd":{"type":"string","description":"Amount needed for the upgrade."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"500":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/payments/methods":{"get":{"tags":["Payment"],"description":"List enabled top-up methods and their amount limits.","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"label":{"type":"string"},"minAmountUsd":{"type":"number"},"maxAmountUsd":{"type":"number"}},"required":["code","label","minAmountUsd","maxAmountUsd"]}}},"required":["ok","items"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/payments/create":{"post":{"tags":["Payment"],"description":"Create a crypto balance top-up invoice. Only credits `balance` when the payment completes. Activate a subscription separately via `POST /subscription/activate-from-balance`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["method","amount"],"properties":{"method":{"type":"string","description":"Top-up method code. Allowed: `trc20`, `bep20`, `ton`, `aptos`, `binancepay`."},"amount":{"type":"number","description":"Amount in USD (min/max per `GET /payments/methods`)."}}}}}},"security":[{"apiKeyAuth":[]}],"responses":{"201":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"payment":{"type":"object","properties":{"id":{"type":"string","pattern":"^tx[0-9]+$"},"network":{"type":"string"},"amount":{"type":"string"},"uniqueAmount":{"type":["null","string"]},"address":{"type":"string"},"memo":{"type":["null","string"]},"binanceId":{"type":["null","string"]},"displayName":{"type":["null","string"]},"status":{"type":"string"},"verifyAttempts":{"type":"integer"},"expiresAt":{"type":"string"},"completedAt":{"type":["null","string"]},"cancelledAt":{"type":["null","string"]},"createdAt":{"type":"string"}}}},"required":["ok","payment"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"409":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"502":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/payments/{paymentId}":{"get":{"tags":["Payment"],"description":"Get the status of a payment.","parameters":[{"schema":{"type":"string","pattern":"^([tT][xX][0-9]+|[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12})$"},"in":"path","name":"paymentId","required":true,"description":"The `id` returned in the create-payment response."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"payment":{"type":"object","properties":{"id":{"type":"string","pattern":"^tx[0-9]+$"},"network":{"type":"string"},"amount":{"type":"string"},"uniqueAmount":{"type":["null","string"]},"address":{"type":"string"},"memo":{"type":["null","string"]},"binanceId":{"type":["null","string"]},"displayName":{"type":["null","string"]},"status":{"type":"string"},"verifyAttempts":{"type":"integer"},"expiresAt":{"type":"string"},"completedAt":{"type":["null","string"]},"cancelledAt":{"type":["null","string"]},"createdAt":{"type":"string"}}}},"required":["ok","payment"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/payments/{paymentId}/verify":{"post":{"tags":["Payment"],"description":"For `binancepay` payments only: submit the payer-app reference (`binanceOrderId`). Limited number of attempts per payment.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["binanceOrderId"],"properties":{"binanceOrderId":{"type":"string"}}}}}},"parameters":[{"schema":{"type":"string","pattern":"^([tT][xX][0-9]+|[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12})$"},"in":"path","name":"paymentId","required":true,"description":"The `id` returned in the create-payment response."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"payment":{"type":"object","properties":{"id":{"type":"string","pattern":"^tx[0-9]+$"},"network":{"type":"string"},"amount":{"type":"string"},"uniqueAmount":{"type":["null","string"]},"address":{"type":"string"},"memo":{"type":["null","string"]},"binanceId":{"type":["null","string"]},"displayName":{"type":["null","string"]},"status":{"type":"string"},"verifyAttempts":{"type":"integer"},"expiresAt":{"type":"string"},"completedAt":{"type":["null","string"]},"cancelledAt":{"type":["null","string"]},"createdAt":{"type":"string"}}},"verifySuccess":{"type":"boolean"},"message":{"type":"string"}},"required":["ok","payment"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"502":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/steam-topup/rates":{"get":{"tags":["Steam Top-up"],"description":"Current exchange rates used for Steam top-up: how much RUB, UAH, and KZT equal one USD. Rates are updated on a schedule; call this before quoting or placing an order.","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"base":{"type":"string","enum":["USD"]},"rates":{"type":"object","description":"Amount of local currency per 1 USD; USD is always 1. No other keys.","additionalProperties":false,"properties":{"USD":{"type":"number"},"RUB":{"type":"number"},"UAH":{"type":"number"},"KZT":{"type":"number"}},"required":["USD","RUB","UAH","KZT"]},"updated_at":{"type":"string","description":"ISO 8601 timestamp when these rates were last published."}},"required":["ok","base","rates","updated_at"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/steam-topup/check-login":{"post":{"tags":["Steam Top-up"],"description":"Check whether a Steam account can receive a wallet top-up.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["steamLogin"],"additionalProperties":false,"properties":{"steamLogin":{"type":"string","minLength":1,"description":"Steam account login (the value your customer enters)."}}}}}},"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"can_refill":{"type":"boolean"}},"required":["ok","can_refill"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/steam-topup/order":{"post":{"tags":["Steam Top-up"],"description":"Create a Steam wallet top-up order. Your USD balance is charged immediately according to your plan and the rates from `GET /steam-topup/rates`. `USD`: `amount` at most **2 decimal places** (cents); `RUB/UAH/KZT`: **up to 4** — billed USD nominal is rounded **up** to the next cent so the refill is not below what you typed; stored `amountLocal` reflects the nominal’s local estimate. The response returns the created order; final status may change while processing.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["steamLogin","currency","amount"],"additionalProperties":false,"properties":{"steamLogin":{"type":"string","minLength":1,"description":"Steam login to top up."},"currency":{"type":"string","enum":["USD","RUB","UAH","KZT"],"description":"Currency of `amount`."},"amount":{"description":"If `currency` is USD: **at most 2** fractional digits (`5`, `\"5.01\"` — not `\"5.999\"`). Otherwise up to **4** decimals.","anyOf":[{"type":"string","minLength":1},{"type":"number"}]}}}}}},"parameters":[{"schema":{"type":"string","maxLength":255},"in":"header","name":"idempotency-key","required":false,"description":"Optional. Unique string per purchase (e.g. UUID). Retrying with the same key returns the original order instead of charging again."}],"security":[{"apiKeyAuth":[]}],"responses":{"201":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"order":{"type":"object","additionalProperties":true}},"required":["ok","order"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string"},"availablePlans":{"type":"array","description":"Allowed plan codes (bronze, silver, gold).","items":{"type":"string","enum":["bronze","silver","gold"]}},"balanceUsd":{"type":"string","description":"Current balance when upgrade fails for insufficient funds."},"requiredUsd":{"type":"string","description":"Amount needed for the upgrade."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/steam-gifts/games":{"get":{"tags":["Steam Gifts"],"description":"Full list of Steam games available for gifting. Rate limit: **1 request per 3 minutes** per API key. Use `limit` to cap the number of results. The catalog refreshes automatically every 3 hours.","parameters":[{"schema":{"type":"string"},"in":"query","name":"limit","required":false,"description":"Maximum number of games to return (minimum 1). Omit to get the full catalog."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"games":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Game title."},"appid":{"type":"integer","description":"Steam application ID."}},"required":["name","appid"]}},"meta":{"type":"object","properties":{"total":{"type":"integer","description":"Total number of games in the catalog."},"returned":{"type":"integer","description":"Number of games in this response."},"truncated":{"type":"boolean","description":"`true` when `limit` capped the results."}},"required":["total","returned","truncated"]}},"required":["ok","games","meta"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"429":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/steam-gifts/games/{appid}":{"get":{"tags":["Steam Gifts"],"description":"Giftable editions for a Steam app: `sub_id` (package), human-readable name, and per-region prices in USD. Amounts are your plan-adjusted partner prices (same discount/markup rules as Steam top-up: global per subscription tier or account custom). Underlying quotes are cached up to 24 hours per game.","parameters":[{"schema":{"type":"string"},"in":"path","name":"appid","required":true,"description":"Steam application ID (positive integer)."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"appid":{"type":"integer"},"offers":{"type":"array","items":{"type":"object","properties":{"sub_id":{"type":"integer","description":"Steam package / sub ID."},"name":{"type":"string","description":"Edition or bundle name."},"regions":{"type":"array","items":{"type":"object","properties":{"region":{"type":"string","description":"Region code (e.g. US, RU, CIS)."},"price":{"type":"string","description":"Price in USD (fixed4 decimal places, rounded up)."}},"required":["region","price"]}}},"required":["sub_id","name","regions"]}}},"required":["ok","appid","offers"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/steam-gifts/order":{"post":{"tags":["Steam Gifts"],"description":"Create a Steam gift order. Balance is charged immediately; fulfillment runs asynchronously. Use `invite_url` (https://s.team/p/… or s.team/p/…), `sub_id` and `region` from GET /steam-gifts/games/:appid, and `app_id` for the Steam app.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["invite_url","sub_id","app_id","region"],"properties":{"invite_url":{"type":"string","description":"Steam friend invite link."},"sub_id":{"type":"integer","description":"Package id from catalog offers."},"app_id":{"type":"integer","description":"Steam application id."},"region":{"type":"string","description":"Region code, e.g. US, RU, CIS."}}}}}},"parameters":[{"schema":{"type":"string","maxLength":255},"in":"header","name":"idempotency-key","required":false,"description":"Optional. Unique string per purchase (e.g. UUID). Retrying with the same key returns the original order instead of charging again."}],"security":[{"apiKeyAuth":[]}],"responses":{"201":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"order":{"type":"object","additionalProperties":true}},"required":["ok","order"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"500":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/telegram/stars":{"get":{"tags":["Telegram"],"description":"Quote for Telegram Stars: USD price per star (7 decimal places), minimum and maximum quantity, and when the quote was last updated.","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"kind":{"type":"string","enum":["telegram_stars"]},"price_per_star":{"type":"string","description":"USD per 1 star, 7 decimal places"},"min_amount":{"type":"integer"},"max_amount":{"type":"integer"},"rates_updated_at":{"type":"string"}},"required":["ok","kind","price_per_star","min_amount","max_amount","rates_updated_at"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"502":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/telegram/premium":{"get":{"tags":["Telegram"],"description":"Quote for Telegram Premium: USD price for each subscription length (3, 6, and 12 months), 4 decimal places, and when the quote was last updated.","security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"kind":{"type":"string","enum":["telegram_premium"]},"plans":{"type":"array","items":{"type":"object","properties":{"months":{"type":"integer","enum":[3,6,12]},"price_usd":{"type":"string"}},"required":["months","price_usd"]}},"rates_updated_at":{"type":"string"}},"required":["ok","kind","plans","rates_updated_at"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"502":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/telegram/stars/buy":{"post":{"tags":["Telegram"],"description":"Purchase Telegram Stars for a username (balance debited immediately; fulfillment is asynchronous). Username may include a leading @; quantity must be between 50 and 10_000.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["telegram_username","quantity"],"properties":{"telegram_username":{"type":"string","minLength":1},"quantity":{"type":"integer","minimum":50,"maximum":10000}}}}}},"security":[{"apiKeyAuth":[]}],"responses":{"201":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"order":{"type":"object","additionalProperties":true}},"required":["ok","order"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"500":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"502":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/telegram/premium/buy":{"post":{"tags":["Telegram"],"description":"Purchase Telegram Premium for a username (balance debited immediately; fulfillment is asynchronous). months must be 3, 6, or 12.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["telegram_username","months"],"properties":{"telegram_username":{"type":"string","minLength":1},"months":{"type":"integer","enum":[3,6,12]}}}}}},"security":[{"apiKeyAuth":[]}],"responses":{"201":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"order":{"type":"object","additionalProperties":true}},"required":["ok","order"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"500":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"502":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/gamekeys":{"get":{"tags":["Game keys"],"description":"List game key categories that are **enabled for the public catalog** and have **at least one sellable offer** (position enabled, in provider catalog, stock &gt; 0). Cursor pagination. Default: no `appid` / `imageurl` in items. Pass **`include_ui=1`** (or `true`) to add `appid` (Steam) and `imageurl` (cover path). Country details: GET /gamekeys/region-restriction.","parameters":[{"schema":{"type":"string"},"in":"query","name":"limit","required":false,"description":"Page size (default 200, max 500)."},{"schema":{"type":"string"},"in":"query","name":"cursor","required":false,"description":"Opaque cursor from `meta.next_cursor` for the next page."},{"schema":{"type":"string"},"in":"query","name":"include_ui","required":false,"description":"Set to `1` or `true` to include `appid` and `imageurl` on each item (default: omitted)."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"kind":{"type":"string","enum":["game_key"]},"items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Display title."},"game_id":{"type":"string","description":"Stable category id for orders and integration."},"region":{"type":"string","description":"Sales region code."},"platform":{"type":"string","description":"`steam`, `xbox`, `rockstar`, or a custom platform label."},"region_restriction":{"type":"boolean","description":"If true, load country rows from GET /gamekeys/region-restriction?game_id=…"},"appid":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"**Only with `include_ui=1`:** Steam app id, or null. Omitted in default list response."},"imageurl":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"**Only with `include_ui=1`:** cover path/URL (uuid filename) or null. Omitted in default list response."}},"required":["name","game_id","region","platform","region_restriction"]}},"meta":{"type":"object","properties":{"total":{"type":"integer","description":"Count of categories that are enabled and have at least one sellable key offer."},"limit":{"type":"integer"},"next_cursor":{"type":["null","string"]},"has_more":{"type":"boolean"}},"required":["total","limit","next_cursor","has_more"]}},"required":["ok","kind","items","meta"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/gamekeys/keys":{"get":{"tags":["Game keys"],"description":"Key offers for a `game_id` from GET /api/v2/gamekeys. Use **`include_ui=1`** to add top-level `appid` and `imageurl` (same as on GET /gamekeys). Country lists: GET /gamekeys/region-restriction.","parameters":[{"schema":{"type":"string"},"in":"query","name":"game_id","required":true},{"schema":{"type":"string"},"in":"query","name":"include_ui","required":false,"description":"`1` or `true` to include `appid` and `imageurl` in the response (default: omitted)."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"kind":{"type":"string","enum":["game_key"]},"game_id":{"type":"string"},"GameName":{"type":"string"},"region":{"type":"string","description":"Sales region (same as catalog)."},"platform":{"type":"string","description":"`steam`, `xbox`, `rockstar`, or custom label (same as catalog)."},"region_restriction":{"type":"boolean","description":"If true, load country rows from GET /gamekeys/region-restriction."},"appid":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Present only with `include_ui=1`."},"imageurl":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Present only with `include_ui=1`."},"keys":{"type":"array","items":{"type":"object","properties":{"key_id":{"type":["null","string"],"description":"Offer id for orders, unique within this `game_id`. Pair it with `game_id` when ordering — the same `key_id` string may exist in other games."},"name":{"type":"string"},"price_usd":{"type":"string"},"stock":{"type":"integer"},"min_order_quantity":{"type":"integer"},"max_order_quantity":{"type":"integer"}},"required":["key_id","name","price_usd","stock","min_order_quantity","max_order_quantity"]}}},"required":["ok","kind","game_id","GameName","region","platform","region_restriction","keys"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/gamekeys/region-restriction":{"get":{"tags":["Game keys"],"description":"Availability by country for a `game_id`: `region_type` from the category, `available` / `unavailable` with ISO code and English name.","parameters":[{"schema":{"type":"string"},"in":"query","name":"game_id","required":true}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"kind":{"type":"string","enum":["game_key"]},"game_id":{"type":"string"},"region_type":{"type":"string","description":"Uppercased sales region label from the category (e.g. CIS)."},"has_availability":{"type":"boolean","description":"True when list is enabled and at least one country is available."},"available":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"ISO 3166-1 alpha-2"},"name":{"type":"string","description":"English name"}},"required":["code","name"]}},"unavailable":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"ISO 3166-1 alpha-2"},"name":{"type":"string","description":"English name"}},"required":["code","name"]}}},"required":["ok","kind","game_id","region_type","has_availability","available","unavailable"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/gamekeys/order":{"post":{"tags":["Game keys"],"description":"Create a game key order. **`game_id`** (from `GET /gamekeys`, same on `GET /gamekeys/keys`) and **`key_id`** (offer `key_id` from that list) must match the same offer row. Different games may use the same `key_id` string. Debits balance and starts provider fulfillment.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"game_id":{"type":"string","description":"Category `game_id` from `GET /api/v2/gamekeys` and query to `/gamekeys/keys`."},"key_id":{"type":"string","description":"Offer `key_id` from `GET /api/v2/gamekeys/keys?game_id=…` (position / SKU in that game)."},"quantity":{"type":"integer","minimum":1,"maximum":100,"description":"Number of keys to purchase (1–100, limited by stock)."}},"required":["game_id","key_id","quantity"]}}}},"parameters":[{"schema":{"type":"string","maxLength":255},"in":"header","name":"idempotency-key","required":false,"description":"Optional. Unique string per purchase (e.g. UUID). Retrying with the same key returns the original order instead of charging again."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"order":{"type":"object","additionalProperties":true}},"required":["ok","order"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/giftcards":{"get":{"tags":["Gift cards"],"description":"List enabled gift card categories (cursor pagination). Default: no `imageurl`. Pass `include_ui=1` to add `imageurl` (admin-uploaded cover, or null). Optional `note` on each item mirrors top-up categories when set in admin.","parameters":[{"schema":{"type":"string"},"in":"query","name":"limit","required":false,"description":"Page size (default 200, max 500)."},{"schema":{"type":"string"},"in":"query","name":"cursor","required":false,"description":"Opaque cursor from `meta.next_cursor`."},{"schema":{"type":"string"},"in":"query","name":"include_ui","required":false,"description":"Set to `1` or `true` to include `imageurl` on each item (default: omitted)."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"kind":{"type":"string","enum":["gift_card"]},"items":{"type":"array","items":{"type":"object","properties":{"category_id":{"type":"string","description":"Stable id of the gift card category (same as in GET /giftcards/cards)."},"name":{"type":"string"},"note":{"type":"string","description":"If set in admin, category note for storefront/panel (omitted when empty)."},"imageurl":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"**Only with `include_ui=1`:** cover path/URL (uuid filename) or null. Same media route as game key covers (`/api/v2/media/game-key-covers/…`)."}},"required":["category_id","name"]}},"meta":{"type":"object","properties":{"total":{"type":"integer"},"limit":{"type":"integer"},"next_cursor":{"type":["null","string"]},"has_more":{"type":"boolean"}},"required":["total","limit","next_cursor","has_more"]}},"required":["ok","kind","items","meta"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/giftcards/cards":{"get":{"tags":["Gift cards"],"description":"Offers for a `category_id` from GET /giftcards. Legacy query alias: `card_id`. With **`include_ui=1`:** adds top-level `imageurl` (cover or null).","parameters":[{"schema":{"type":"string"},"in":"query","name":"category_id","required":false,"description":"Same as `category_id` from GET /api/v2/giftcards."},{"schema":{"type":"string"},"in":"query","name":"card_id","required":false,"description":"Deprecated alias for `category_id`."},{"schema":{"type":"string"},"in":"query","name":"include_ui","required":false,"description":"Set to `1` or `true` to add `imageurl` (default: omitted)."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"kind":{"type":"string","enum":["gift_card"]},"category_id":{"type":"string"},"name":{"type":"string"},"note":{"type":"string","description":"If set in admin, category note (omitted when empty). Same as top-ups."},"imageurl":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Present only with `include_ui=1`. Cover path/URL or null (same as GET /giftcards with `include_ui=1`)."},"offers":{"type":"array","items":{"type":"object","properties":{"card_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string"},"price_usd":{"type":"string"},"stock":{"type":"integer"},"min_order_quantity":{"type":"integer"},"max_order_quantity":{"type":"integer"}},"required":["card_id","name","price_usd","stock","min_order_quantity","max_order_quantity"]}}},"required":["ok","kind","category_id","name","offers"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/giftcards/order":{"post":{"tags":["Gift cards"],"description":"Create a gift card order. **`category_id`** (from `GET /giftcards`, same on `GET /giftcards/cards`) and **`card_id`** (offer `card_id` from that list) must match the same offer row. Different categories may use the same `card_id` string. `quantity` 1–100. Completed order includes `cards` (codes).\n\n**Idempotency (optional):** send an `Idempotency-Key` header (any unique string, ≤255 chars) to make retries safe — repeating the same request with the same key returns the original order instead of charging/fulfilling again. Omit the header for the previous behavior.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"category_id":{"type":"string","description":"Category `category_id` from `GET /api/v2/giftcards` and query to `/giftcards/cards`."},"card_id":{"type":"string","description":"Offer `card_id` from `GET /api/v2/giftcards/cards?category_id=…` (denomination / SKU in that category)."},"quantity":{"type":"integer","minimum":1,"maximum":100,"description":"Number of codes (1–100, limited by stock)."}},"required":["category_id","card_id","quantity"]}}}},"parameters":[{"schema":{"type":"string","maxLength":255},"in":"header","name":"idempotency-key","required":false,"description":"Optional. Unique string per purchase (e.g. UUID). Retrying with the same key returns the original order instead of charging again."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"order":{"type":"object","additionalProperties":true}},"required":["ok","order"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"409":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/topups":{"get":{"tags":["Top-up"],"description":"Categories (cursor). `category_id` = `topup_id`. No `fields` here — use `GET /topups/offers`. `include_ui=1` adds cover `imageurl`.","parameters":[{"schema":{"type":"string"},"in":"query","name":"limit","required":false,"description":"Default 200, max 500."},{"schema":{"type":"string"},"in":"query","name":"cursor","required":false,"description":"From `meta.next_cursor`."},{"schema":{"type":"string"},"in":"query","name":"include_ui","required":false,"description":"`1` or `true` → `imageurl` on items."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"kind":{"type":"string","enum":["topup"]},"items":{"type":"array","items":{"type":"object","properties":{"category_id":{"type":"string","description":"Public id (`topup_id`); use in `GET /topups/offers`."},"name":{"type":"string"},"note":{"type":"string","description":"If set in admin, category note for storefront."},"imageurl":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"With `include_ui=1` only (cover URL or null)."}},"required":["category_id","name"]}},"meta":{"type":"object","properties":{"total":{"type":"integer"},"limit":{"type":"integer"},"next_cursor":{"type":["null","string"]},"has_more":{"type":"boolean"}},"required":["total","limit","next_cursor","has_more"]}},"required":["ok","kind","items","meta"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/topups/offers":{"get":{"tags":["Top-up"],"description":"Offers and `fields` for one `category_id` (from list). `include_ui=1` → `imageurl`.","parameters":[{"schema":{"type":"string"},"in":"query","name":"category_id","required":false,"description":"Same as list `category_id`."},{"schema":{"type":"string"},"in":"query","name":"include_ui","required":false,"description":"`1` or `true` → `imageurl`."}],"security":[{"apiKeyAuth":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"kind":{"type":"string","enum":["topup"]},"category_id":{"type":"string"},"name":{"type":"string"},"note":{"type":"string","description":"If set in admin, category note (omitted when empty)."},"imageurl":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Only with `include_ui=1`."},"offers":{"type":"array","items":{"type":"object","properties":{"offer_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string"},"price_usd":{"type":"string"}},"required":["offer_id","name","price_usd"]}},"fields":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{"key":{"type":"string"},"label":{"type":"string"},"type":{"type":"string"},"options":{"type":"array","items":{"type":"object","additionalProperties":true}}}},"description":"text / select"}},"required":["ok","kind","category_id","name","offers","fields"]}}}},"400":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"401":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"403":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"blockReason":{"type":["null","string"],"description":"For blocked accounts — message from admin. For inactive subscription — always null."},"code":{"type":"string","description":"Machine-readable reason when not a block, e.g. `subscription_inactive`."}},"required":["ok","error"]}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable error code (optional)."}},"required":["ok","error"]}}}}}}},"/api/v2/topups/order":{"post":{"tags":["Top-up"],"description":"Place a top-up order. **`category_id`** and **`offer_id`** must both match one row from `GET /topups/offers?category_id=…` (same `category_id` as in the topups list; `offer_id` = `offer_id` on the offer; many categories may reuse the same `offer_id` string — the pair is unique). `fields` — `{ [key]: value }`; for `select` use listed `options`. Balance is charged immediately; then `processing` until completed/refund.\n\n**Idempotency (optional):** send an `Idempotency-Key` header (any unique string, ≤255 chars) to make retries safe — repeating the same request with the same key returns the original order instead of charging/fulfilling again. Omit the header for the previous behavior.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"category_id":{"type":"string","description":"Same as `category_id` in `GET /api/v2/topups` and query to `GET /api/v2/topups/offers`."},"offer_id":{"type":"string","description":"Offer `offer_id` from `GET /topups/offers` for this category_id."},"fields":{"type":"object","additionalProperties":{"type":"string"},"description":"Buyer input; keys match category `fields[].key`."}},"required":["category_id","offer_id","fields"]}}}},"parameters":[{"schema":{"type":"string","maxLength":255},"in":"header","name":"idempotency-key","required":false,"description
[...]
